html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #2c5ba3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

button {
  margin-top: 5px;
  background: #2c5ba3;
  color: white;
  font-size: 20px;
}

input {
  padding: 2px;
  margin: 5px 0px;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formBody {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  background-color: #eff1f3;
  min-width: 90%;
  min-height: 200px;
}

.formHeader {
  font-size: 1.2rem;
  display: inline;
  font-weight: 150;
}

.formSubmit {
  height: 2.3rem;
  margin-top: auto;
}

#app {
  height: 100%;
}
