html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #2c5ba3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 40%;
}

.formBody {
  margin: 15px;
  padding: 30px 60px;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  background-color: #eff1f3;
  min-width: 90%;
  min-height: 200px;
}

.formBody:hover {
  outline: none;
  -webkit-box-shadow: 0 0 5px #cacaca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  -webkit-transition: -webkit-box-shadow 0.5s, ease-in-out;
  transition: box-shadow 0.5s, ease-in-out;
}

.formHeader {
  font-size: 1.2rem;
  display: inline;
  margin: 5rem 0;
  font-weight: 150;
}

#app {
  height: 100%;
}
